<div class="detail-container">
  <img class="detail-cover" [src]="songDetail.albumCoverUrl" alt="{{ songDetail.title }} Album Cover" />
  <h2 class="detail-id">{{ songDetail.id }}</h2>
  <h2 class="detail-title">{{ songDetail.title }}</h2>
  <p class="detail-artist">Artist: {{ songDetail.artist }}</p>
  <p class="detail-album">Album: {{ songDetail.album }}</p>
  <p class="detail-duration">Duration: {{ songDetail.duration }}</p>
  <p class="detail-release">Release Date: {{ songDetail.releaseDate }}</p>
</div>
