<div class="row">
  <span><h1>Playlists</h1></span>
  <div class="col-md-6">
    <div *ngFor="let playlist of playlists$ | async; let i = index" style="border: solid 1px black; padding: 5px; background-color: aliceblue;">
      <p (click)="selectPlaylist(playlist, i)" style="cursor: pointer; text-align: center;">
        {{ playlist.name }}
      </p>
    </div>
    <form
      style="margin: 5px"
      [formGroup]="playlistForm"
      (ngSubmit)="playlistSubmit()"
    >
      <label for="playlist" style="display: block;">New Playlist</label>
      <input
        type="text"
        name="playlist"
        id="playlist"
        placeholder="Name"
        [formControl]="playlistForm.controls.name"
      />
      <button>Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <div *ngIf="selectedPlaylist" style="border: solid 1px black; padding: 5px; background-color: aliceblue;">
      <h2>{{ selectedPlaylist.name }}</h2>
      <div *ngFor="let track of selectedPlaylist.songs">
         {{track.name}} {{ track.artist }}
        <!-- <button (click)="deleteSong(selectedPlaylistIndex!, track)">X</button> -->
      </div>

      <!-- <form style="margin: 5px" [formGroup]="songForm" (ngSubmit)="submit()">
        <label for="song">Song</label>
        <input
          type="text"
          name="song"
          id="song"
          [formControl]="songForm.controls.song"
        />
        <button>Submit</button>
       </form> -->
    </div>
  </div>
</div>

