<div class="row">
  <span><h1>Playlists</h1></span>
  <div class="col-md-8">
    <div *ngFor="let playlist of playlists$ | async; let i = index" style="border: solid 1px black; padding: 0px; background-color: aliceblue;">
      <p (click)="selectPlaylist(playlist, i)" style="cursor: pointer; text-align: center; font-size: large; padding: 1em;">
        {{ playlist.name }}
      </p>
    </div>
    <form
      style="margin: 5px"
      [formGroup]="playlistForm"
      (ngSubmit)="playlistSubmit()"
    >
      <label for="playlist" style="display: block;">New Playlist</label>
      <input
        type="text"
        name="playlist"
        id="playlist"
        placeholder="Name"
        [formControl]="playlistForm.controls.name"
      />
      <button>Submit</button>
    </form>
  </div>
  <!-- Song list -->
  <div class="col-md-4">
    <div *ngIf="selectedPlaylist" style="border: solid 1px black; padding: 5px; background-color: aliceblue;">
      <h2>{{ selectedPlaylist.name }}</h2>
      <div style="font-size: large; padding: 2px; border-bottom: 1px black dashed;" *ngFor="let track of selectedPlaylist.songs">
        <a (click)="routeToDetails(track.id)">{{track.name}} : {{ track.artist }}</a>
        <button style="float: right; width: 20px;height: 24px;padding: 2px;" (click)="deleteSong(selectedPlaylistIndex!, track)">X</button>
      </div>
    </div>
  </div>
</div>

