
<body>
<div *ngFor="let playlist of playlists$ | async; let i = index">
  <p (click)="selectPlaylist(playlist, i)" style="cursor: pointer">
    {{ playlist.name }}
  </p>
</div>

<div *ngIf="selectedPlaylist" style="border: solid 1px #7c3aed; padding: 5px">
  <h2>{{ selectedPlaylist.name }}</h2>
  <div *ngFor="let track of selectedPlaylist.songs">
    {{ track }}
    <button (click)="deleteSong(selectedPlaylistIndex!, track)"class="btn btn-purple" >X</button>
  </div>

  <form style="margin: 5px;" [formGroup]="songForm" (ngSubmit)="submit()">
    <label for="song">Song</label>
    <input
      type="text"
      name="song"
      id="song"
      [formControl]="songForm.controls.song"
    />
    <button class="btn btn-purple">Submit</button>
  </form>
</div>

<form
  style="margin: 5px;"
  [formGroup]="playlistForm"
  (ngSubmit)="playlistSubmit()"
>
  <label  class="song"> Make A New Playlist</label>
  <input
    type="text"
    name="song"
    id="song"
    [formControl]="playlistForm.controls.name"
  />
  <button class="btn btn-purple" >Submit</button>
</form>
</body>


